body{
    margin: 0;
    text-align: center;
}
.top{
    background-color: #94B49F;
    font-family: papyrus;
    height: 620px;
    padding-top: 10px;
}
.top a{
    text-decoration: none;
    padding-top: 40px;
    padding-right: 10px;
    color: black;
    font-size: 1.3rem;
}
a:hover{
    color: red;
}
.top h2{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 45px;
    font-size: 4.35rem;
}
.top p{
    font-size: 2rem;
    margin-bottom: 0px;
    padding-bottom: 100px;
}
.top img{
    width: 530px;
    margin-bottom: 0px;
}
.mid1{
    background-color: #FCF8E8;
    padding-top: 80px;
    padding-bottom: 0px;
    display: inline-block;
    height: 445px;
}
.mid1 img{

    float: left;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 30px;
    width: 19rem;
}
.mid1 h2{
    margin-bottom: 0px;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}
.mid1 p{
    margin: 0px;
    font-weight: bold;
    text-align: left;
    width: 80%;
}
.mid2{
    background-color: #CEE5D0;
    padding-top: 50px;
}
.mid2 h2{
    margin-top: 0px;
    font-size: 2.7rem;
    font-family: 'dancing script';
}
.mid2 img{
    display: inline;
    width: 20%;
    padding: 20px;
    border:solid 10px;
    border-color: white;
}
.mid2 h3{
    font-size: 2rem;
    font-family: 'dancing script';
}
.mid2 p{
    font-weight: bold;
}
.bottom{
    margin: 0px;
    background-color: #ECB390;
    padding-top: 50px;
    font-family: 'Ibarra Real Nova', serif;
    height: 350px;
}
.bottom h2{
    font-size: 2.7rem;
    font-family: 'Ibarra Real Nova', serif;
    padding: 20px;
}
.bottom h3{
    font-size: 1.5rem;
    font-family: 'Ibarra Real Nova', serif;
    padding: 20px;
}
.bottom p{
    font-weight: bold;
    margin-bottom: 0px;
    padding: 10px;
}
.bottom a{
    text-decoration: none;
    padding: 30px;
    color: blue;
}
